@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body {
  background: #f3f3f3;
  font-weight: 300;
  font-family: 'Roboto', sans;
}

.blog {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog h1 {
  font-weight: 100;
  margin: 20px 0;
  padding: 0;
}

.blog .post {
  width: 700px;
  background: white;

  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.blog .post .user-icon {
  vertical-align: top;
  display: inline-block;
  border: 1px solid black;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.blog .post .text {
  display: inline-block;
  margin-left: 20px;
  width: calc(100% - 80px);
}

.blog .post .text .user-name {
  font-weight: 400;
}

.blog .post .text a {
  transition: color 100ms linear;
  color: #0067d2;
}

.blog .post .text a:hover {
  color: #74b8ff;
}

.blog .new.post input[value="Post"] {
  transition: background 100ms linear;

  border: 1px solid #888;
  background: #0067d2;
  width: 75px;
  padding: 5px;
  border-radius: 0 3px 3px 0;
  border-left: none;
  margin-left: 0;
  color: white;
}

.blog .new.post input[value="Post"]:focus {
  outline: none;
}

.blog .new.post input[value="Post"]:hover {
  background: #0b74e2;
}

.blog .new.post input[value="Post"]:active {
  background: #328ff0;
}

.blog .new.post input[type="text"] {
  height: 21px;
  border: 1px solid #888;
  border-radius: 3px 0 0 3px;
  border-right: none;
  margin-right: 0;
  padding: 1px 5px;

  width: calc(100% - 90px);
}

.blog .new.post input[type="text"]:focus {
  outline: none;
}
